---
layout: page
---
{%- assign d = site.data.seg_pages[page.seg_key] -%}

<section class="band band--cream cards-band">
  {% include section-heading.html title=d.cards_title %}
  <div class="rule-cards">
    {%- for card in d.cards -%}
      <div class="rule-card">
        <h3>{{ card.h | escape_once }}</h3>
        <p>{{ card.p | escape_once }}</p>
      </div>
    {%- endfor -%}
  </div>
</section>

{%- assign steps_title = d.steps_title | default: "How we'd start" -%}
{% include steps.html title=steps_title note=d.steps_note steps=d.steps grid=d.steps_grid %}
